
//header
$border-bottom-color: #d8dcde;
$light-green: #1abc9c;
$light-gray: #879396;


//home
$gradient-home: linear-gradient(90deg, #307ba5, #81b9d4);
$yellow-dark: #f9be3f;
$white: #fff;


//searcher
$blue-dark: #2d8abd;
$dark-green: #15987e;

//datepicker
$picker-color: #879395;