.btn{ 
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    text-transform: none;
    white-space: nowrap;
    font-family: Montserrat,
    sans-serif;
    font-size: 14px;
    color: $white;
    background-color: $light-green;
    box-shadow: 0 3px 0 $dark-green;
    height: 40px;
    font-weight: 700;
}

.btn:hover{
    background-color: $dark-green;
    box-shadow: 0 3px 0 $light-green;
    transition: border-color .15s ease-in-out,
    box-shadow .15s ease-in-out,
    -webkit-box-shadow .15s ease-in-out;
}