@import './../scss/_colors.scss';
@import './..//scss/btn.scss';

html,body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*header*/
.header{
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 60px;
    box-shadow: 0 4px 0 hsla(200, 7%, 91%, .5);
    border-bottom: 1px solid $border-bottom-color;
    align-items: center;
    z-index: 999;
}

.logo{
    width: 137px;
    height: 60px;
    background: url('../imgs/logo.svg') no-repeat center center;
}

.menu-header > ul > li {
    display: inline;
    color: $light-gray;
    margin-left: 40px;
    cursor: pointer;
    font-size: 14px;
}

.menu-header a {
    color: $light-gray;
    text-decoration: none;
}

.menu-header > ul > li:hover{
    color: $light-green;
}

.menu-header > ul > li > i{
    margin-right: 5px;
    color: $light-green;
    font-size: 18px;
}



/*home*/
.home{
    z-index: -2;
    display: flex;
    height: 550px;
    flex-direction: column;
    align-items: center;
    background-image: $gradient-home;
    padding-bottom: 30px;
}

.banner-home{
    margin-top: 30px;
}

.title-home{
    font-size: 28px;
    font-weight: 700;
    color: $yellow-dark;
}

.sub-title-home{
    margin-top: -15px;
    font-size: 18px;
    font-weight: 300;
    color: $white;
}


/*searcher*/
.searcher-wrapper{
    position: absolute;
    top: 300px;
    width: 1200px;
    background-color: $white;
    min-height: 181px;
    border-radius: 10px;
    box-shadow: 0 2px 1px rgba(0,0,0,.1);
    padding: 10px;
}

.cities-searcher,
.dates-seacher {
    display: flex;
}

.cities-searcher > .form-group{
    flex: 2;
    padding: 0px 20px;
}

.dates-seacher > .form-group {
    flex: 2;
    padding: 20px 20px;

}

.form-group > label{
    display: block;
    font-size: 12px;
    font-weight: 300;
    color: $light-gray;
}

.form-group input{
    padding-left: 10px;
    margin-top: 10px;
    width: 100%;
    color: $blue-dark;
    font-size: 14px;
    font-weight: 700;
    height: 35px;
}

.form-group input:focus{
    outline: none;
    border: 1px solid $light-green;
    text-overflow: clip;
    box-shadow: 4px 4px 0 hsla(200, 7%, 91%, .5);
    transition: border-color .15s ease-in-out,
    box-shadow .15s ease-in-out,
    -webkit-box-shadow .15s ease-in-out;
}

.btn-search{
    margin-right: 15px;
    flex: 2;
    margin-top: 44px;
    border: none;
}


/*AUTOCOMPLETE*/
.no-suggestions {
    color: #999;
    padding: 0.5rem;
}

.suggestions {
    position: absolute;
    top: 76px;
    background-color: $white;
    border: 1px solid $light-green;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: 572px;
    z-index: 999;
}

.suggestions li {
    padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
    color: $light-gray;
    cursor: pointer;
    font-weight: 700;
}

.suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
}

/*DATEPICKER*/

.react-datepicker{
    border: none;
    color: $light-gray;
}
.react-datepicker__input-container {
    width: 257px;
}

.react-datepicker__header{
    background-color: $white;
    border: none;
}

.react-datepicker__month-container{
    width: 270px;
    border: 1px solid $picker-color;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range{
    background-color: $light-green;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover {
    background-color: $light-green;
}


/*FILTER*/
.filter-wrapper{
}

/*TABS*/
.flights-wrapper {
    background-color: #EDF3F8;
    min-height: 60px;
    padding: 60px 20px;
    display: flex;
    justify-content: space-between;
}

.tab-fligths{
    flex-flow: row wrap;
    width: 1100px;
    display: flex;
    justify-content: space-between;
}

.select-tab {
    padding: 20px 0;
    width: 50%;
    text-align: center;
    background-color: $white;;
    cursor: pointer;
    color: $light-gray;
}

.select-tab-title{
    font-size: 18px;
    font-weight: 700;
}

.active{
    background-color: $white;
    box-shadow: inset 0 4px 0 1px $blue-dark;
    cursor: default;
    color: $light-green;
}

.desactive{
    box-shadow: inset 0 -1px 0 0 $blue-dark,
    inset -1px 1px 0 0 $very-ligth-gray;
}

.header-fligths{
    width: 100%;
    padding: 10px 0;
    background-color: $white;
     box-shadow: inset 1px -1px 0 0 $blue-dark,
     inset -1px 0 0 0 $blue-dark;
}

.header-fligths-wrapper{
    justify-content: flex-end;
    display: flex;
}

.header-flight-item{
    color: $light-gray;
    margin-top: 5px;
    flex: 5;
    text-align: center;
    border-right: 1px solid $light-gray;
}

.header-flight-item:last-of-type{
    border: none;
}

/*LIST ITEM*/

.list-item{
    width: 100%;
}

.flight-item{
    display: flex;
    background-color: $white;
    padding: 20px 0;
    height: 100px;
    margin-top: 10px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
}

.flight-item-information, .flight-item-price{
    flex: 2;
}

.flight-item-information{
    flex: 5;
    border-right: 1px dashed #d8dcde;
}

.flight-primary-info {
    display: flex;
    text-align: center;
    color: $light-gray;
}


.airline-name, .flight-number {
    text-transform: uppercase;
}

.airline-name {
    font-weight: 700;
    font-size: 18px;
}

.flight-number{
    font-size: 12px;
}

.flight-time, .flight-destination{
    font-size: 16px;
    font-weight: 700;
}

.flight-time::after{
    content: "";
    margin: 0 5px;
    border-radius: 100%;
    display: inline-block;
    background: $blue-dark;
    width: 6px;
    height: 6px;
}

.flight-data{
    font-weight: 300;
    font-size: 12px;
    color: $blue-dark;
}

.duration{
    border: 1px dashed #d8dcde;
    border-radius: 4px;
    padding: 5px 15px;
}

.flight-duration{
    font-weight: 700;
    font-size: 14px;
}

.flight-stops{
    font-size: 12px;
    color: $blue-dark;
}

.flight-primary-item{
    flex: 4;
}

.flight-item-price{
    padding: 0 20px;
}

.cia-price{
    font-size: 12px;
    font-weight: 400;
    color: $light-gray;
}

.price{
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
    color: $blue-dark;
}

.small{
    font-weight: 400;
    font-size: 10px;
    color: $light-gray;
}

.btn-buy{
    width: 250px;
    margin-top: 10px;
}
